

html,body {
    background: #383c42;
    font-family: 'Poppins', 'sans-serif';
}

header {
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    background-color: #383c42;
}

h1 {
    text-shadow: 2px 2px #383c42;
}

#texto-1 {
    text-align: justify;
    width: 600px;
}

#texto-1 p {
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #383c42;
    text-align: left;
}

.container-card {
    padding: 20px 0px 20px 0px;
    margin-bottom: 5em;
}

.title-text {
    text-align: left;
    margin-top: 1em;
    font-weight: 600;    
    color: white; 
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end); 
}
  
.title-text:nth-child(2){
    animation: type2 8s steps(60, end);
}
  
span{
    animation: blink 0.5s infinite;
}
  
@keyframes type{ 
    from { width: 0; } 
} 
  
@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 
  
@keyframes blink{
    to{opacity: .0;}
}

.img-perfil-card {
    display: flex;
    justify-content: center;
}

.card-title {
    padding: 1.2em;
}

.hr {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}

.card-image {
    height: 75%;
    width: 75%;
    border-radius: 10%;
    margin-top: 4.5em;
}

.card-perfil {
    background-color: #fff;
    box-shadow: 0px 0px 20px #000000;
}

.botoes-card {
    padding: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-sobre {
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #0166e1;
    font-weight: 600px;
    color: white;
}

#btn-sobre:hover {
    color: white;
    background-color: #18acfe;
}

#btn-projetos {
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: 600px;
    color: white;
    background-color: #0166e1;
}

#btn-projetos:hover {
    color: white;
    background-color: #18acfe;
}

.title-subtitle {
    margin: 2em 0;
}

.text {
    padding: 30px 30px;
    color: white;
    font-display: justify;
    margin-top: 5em;
    margin-bottom: 5em;
}

img {
    max-width: 100%;
    border-radius: 4.5%;

}

.bloco {
    width: 400px;
    margin: 15px;
}

.bloco img{
   -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
 }

.bloco img:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.container {
    position: relative;
    margin-top: -2em;
    padding: -1em;
}

#phone {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#follow {
    color: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#email {
    color: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.links-redes-sociais {
    text-decoration: none;
}

.links-redes-sociais i {
    color: black;
    font-size: 30px;
    padding: 30px;
}

#footer-elementos {
    display: flex;
    align-items: center;
    justify-content: center;    
}

#footer-elementos .email {
    padding: 25px 22px 25px 22px;
}

#up {
    color: white;
}

#footer-redes i {
    color: white;
}

#saudacoes {
    display: flex;
    flex-direction: column;
    color: #0166e1;
    font-size: 2em;
}

#saudacoes:hover {
    color: white;
    font-size: 2em;
}


@media (min-width: 900px) {

      .container-linear {
        background: linear-gradient(to left, #18acfe, #0166e1);
    }

    .card-col {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        background-color: #fff;
        box-shadow: -10px 5px 10px 0px #292A2D;
    }

    .card-perfil {
        background-color: #fff !important;
        color: #292A2D;
        box-shadow: none !important;
        width: 18em;
        border: none;
    }

    #btn-sobre {
        border-radius: 20px;
        padding: 10px 25px;
        background-color: #0166e1;
        font-weight: 600px;
        color: white;
    }
    
    #btn-sobre:hover {
        color: white;
        background-color: #18acfe;
    }
    
    #btn-projetos {
        margin-left: 10px;
        border-radius: 20px;
        padding: 10px 25px;
        font-weight: 600px;
        color: white;
        background-color: #0166e1;
    }
    
    #btn-projetos:hover {
        color: white;
        background-color: #18acfe;
    }

    .text-body {
        box-shadow: none;
    }
       
    .text {
        max-width: 50%px;
        margin-top: 2px;
    }

    #texto-1 {
        text-align: left;
    }

    #follow {
        align-items: center;
    }  

    #saudacoes {
        color: #18acfe;
        font-size: 2em;
    }

    #saudacoes:hover {
        color: white;
        font-size: 2em;
    }

    .links-redes-sociais {
        text-decoration: none;
    }
    
    .links-redes-sociais i {
        font-size: 30px;
        padding: 10px;
    }

    #footer-elementos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footer-redes i {
        color: white;
    }

        
}

#texto-2 {
    display: none;
}